:root {
    --content-width: 750px;
    --color-cold: #9de8ff;
    --color-mild: #14ac00;
    --color-hot: #ff6600;
    --color-rain: #0051ff;
    --color-sun: #fff06a;
    --color-cloud: #bbbbbb;
}

* {
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
}

#content {
    width: var(--content-width);
    margin: 0 auto;
}

.red-text {
    color: red;
}

/* Title/Form */
.title > * {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1.5rem);
    column-gap: 10px;
    row-gap: 5px;
}

label {
    text-align: center;
}

#get-weather-button {
    grid-area: 3 / 2 / 4 / 3;
    font-size: 1em;
}


/* Info cards */
.card-box {
    display: flex;
    width: var(--content-width);
    justify-content: center;
}

.card {
    flex: 1 0 33.3%;
}

.card-info-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-info {
    margin: 0 5px;
    flex: none;
}

.card h2, .card h3, .card p {
    text-align: center;
}

.card p {
    font-size: 1.2em;
}

.weather-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
